@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Open+Sans:ital,wght@1,600&display=swap');

*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing: 0;
    
}

body, button, input, textarea {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14;
    line-height: 18px;
}

#root{
    width: 100%;
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:rgb(215, 227, 247)
}

header{
    background-color:#003275;
    height: 12vh;
    width:100%;
    display: flex;
    justify-content:center;
    border-bottom:1px solid #0f3869;
    position: fixed;

    nav{
        height: 100%;
        display: flex;
       
        width: 100%;
        max-width: 1000px;
        
        
        align-items:center;
        justify-content:space-between;
        img{
            
            height: 60px;
            max-height: 70%;
            width: 160px;
            max-width: 170px;
        }

        div{
            
            padding:10px;
            a{
                font-size: 20px;
                padding:10px;
                color:#fff;
                text-decoration:none;
                font-weight:400;
                font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
              
                transition:0.6s;
                &:hover {
                    color: #007bff;
                }
            }
        }
    }
}

main{
    background-image: linear-gradient(rgb(206, 221, 245), rgb(226, 242, 245));
    width:85%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
   
    .menu{
        
        width:90%;
        display: flex;
                
        a{
            
            color: rgb(22, 21, 21);
            font-size: 25px;
            width:100%;
            text-align: center;
            font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-decoration:none;
            font-weight:500;
            
            transition:0.1s;
                &:hover {
                    color: #469dcf;
                }
            
            .blocks{
                text-align:center;
                width: 98%;
               
                border-radius:100px;
                padding: 15px;
                height: 25vh;
                box-sizing: border-box;  
            }
            img{
                float:inherit;
                width: 100px;
            }
        }

    } 
}

.form-cadastro{
    background-image: linear-gradient(rgb(206, 221, 245), rgb(226, 242, 245));
    width:50%;
        .field{
            border:none;
        }

        div{
            padding: 10px;

            input{
                border:solid 1px;
                border-radius:5px;
                width:60%;
                padding: 4px;
                &:focus{
                    
                    border:solid 2px;
                    border-color: rgb(38, 128, 245);
                  }
                  
            }
            
            #Ativo, #Inativo, #moto, #carro, #caminhao{
                width:15px;
            }           
            
        }

        .Buttons{
            a{   
            text-decoration:none;
            padding:8px;
            border-radius:6px;
            color:rgb(158, 16, 16);
            }
            width:97%;           
            display:flex;
            justify-content:center;
            padding:1px;

            .salvar{
                font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 1em;
                background-color:#238636;
                width: 13%;  
                border: 1px solid;
                border-color: #2ea043;
                border-radius: 6px; 
                cursor: pointer;
                padding: 9px;
                font-weight: 500;
                line-height:20px;
                color: rgb(255, 255, 255);
                margin-bottom:10px;
    
                &:hover {
                    background-color:#3aaf4f;
                    transition: 0.3s;
                }
            }

            .cancelar{
                
                align-items: center;
                border: radius 1px;
            }
            
            }
            .btn-cancelar{
                font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 1em;
                background-color:#b13d3d88;
                width: 13%;  
                border: 1px solid;
                border-color: #9c2b27af;
                border-radius: 6px; 
                cursor: pointer;
              
                font-weight: 500;
                line-height:20px;
                color: rgb(255, 255, 255);
                margin-bottom:10px;
                
                &:hover {
                    background-color:#e04e4e;
                    transition: 0.3s;
                }

        }  
        
}
.card-view{
    height: 98vh;
    max-height:100%;
    width: 85%;
    max-width:1000px;
    display: flex;
    background-image: linear-gradient(rgb(173, 199, 241), rgb(217, 219, 226));
    align-items:center;
    justify-content:center;
    padding: 35px;
    margin-bottom: 10px;

    
    .resume{
        background-color: rgba(184, 42, 42, 0);
        height: 80vh;
        max-height:100%;
        width:70%;
        position: left;
        margin-left:25px;
        margin-top: 10px;
        
      
        
        label{
            font-size:20px;
            
        }


    }   

    }     

